.detail-container {
    display: flex;
    flex-direction: row;
    align-items: first baseline;
    margin-bottom: 30px;

    @media screen and (max-width: 600px) {
        flex-direction: column;
        
    }
}