.footer-container {
     background-color: $black-color;
     color: $white-color;
     @include flex-center(column);
     width: 100%;
     position: absolute;
     left: 0;

     &__logo {
          margin: 2.5rem 0 2.5rem 0;
     }

     &__texte {
          margin-bottom: 2.5rem;
     }
}
