.header-container {
     height: 68px;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 30px;

     &__logo {
          height: 55px;

          @media (max-width: 1024px) {
               width: 145px;
          }
     }
}
