.header-container {
    height: 68px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    width: 1240px;

    svg {
         height: 55px;
    }
}
