.carrousel {
     position: relative;
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 30px 0;
     height: 413px;

     &__image {
          position: absolute;
          width: 100%;
          height: 100%;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          border-radius: $radius25;
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
          border: 1px solid rgba(0, 0, 0, 0.2);
          opacity: 0;
          transition: opacity 1s;
     }

     &__image--visible {
          opacity: 1;
     }

     &__fleche {
          filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
          position: absolute;
          z-index: 1;

          &--gauche {
               left: 1rem;
               top: 45%;
          }

          &--droite {
               right: 1rem;
               top: 45%;
          }
     }

     &__fleche:hover {
          cursor: pointer;
          transition: transform 0.6s;
          transform: scale(1.3);
     }

     &__fleche:active {
          transition: transform 0.5s;
          transform: scale(0.8);
     }

     &__indicateurs {
          position: absolute;
          bottom: 1.5rem;
          color: $white-color;
          filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));

          &--hidden {
               display: none;
          }
     }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
     .carrousel {
          height: 255px;
          &__fleche {
               height: 24px;
               width: 24px;
          }
     }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
     .carrousel {
          height: 330px;
          &__fleche {
               height: 45px;
               width: 40px;
          }
     }
}

@media screen and (min-width: 1024px) {
     .carrousel {
          height: 380px;

     }
}