.description-container {
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     width: 90%;

     &__titre {
          font-size: 36px;
          font-weight: $medium;
          color: $red-color;
          margin: 5px 0;
     }

     &__localisation {
          font-size: 18px;
          font-weight: $medium;
          color: $black-color;
          margin: 5px 0;
     }


     @media (max-width: 1024px) {
          & {
               width: 80%;
          }
               &__titre {
                    font-size: 24px;
               }
     }


     @media (max-width: 768px) {
          & {
          width: 90%;
               &__titre {
                    font-size: 18px;
               }
          }
     }
}
