.menu {
     display: flex;
     justify-content: center;
     align-content: center;

     &--about {
          flex-direction: column;
          width: 80%;
          gap: 30px;
          position: relative;
          margin: 30px auto 0 auto;
     }

     &--logement {
          flex-direction: row;
          gap: 50px;
     }

     &__content {
          color: $white-color;
          font-weight: $large;

          &--logement {
               width: 50%;
          }

          &__header {
               display: flex;
               background-color: $red-color;
               flex-direction: row;
               justify-content: space-between;
               align-items: center;
               padding: 0 15px;

               &--about {
                    border-radius: $radius5;
               }

               &--logement {
                    border-radius: $radius10;
               }

               &__titre {
                    font-size: 18px;
               }

               &__button {
                    font-size: 22px;
               }

               &__icon {
                    font-size: 24px;
                    transition: transform 0.9s;

                    &--rotate {
                         transform: rotate(180deg);
                    }
               }
          }

          &__text-zone {
               background-color: rgba(246, 246, 246, 0.45);
               color: $black-color;
               font-weight: $light;
               padding: 10px;
               animation: fadeIn 0.5s ease-in-out;

               &__list {
                    list-style-type: none;
               }
          }
     }
     @media screen and (max-width: 768px) {
          &--about {
               width: 100%;
          }

          &--logement {
               margin: 0 0 30px 0;
               flex-direction: column;
               gap: 20px;
          }

          &__content {
               &--logement {
                    width: 100%;
               }

               &__header {
                    &--logement {
                         border-radius: $radius5;
                         height: 30px;
                         padding: 10px, 0, 10px, 10px;
                    }
                    &__titre {
                         font-size: 13px;
                    }
                    &__icon {
                         font-size: 16px;
                    }
               }

               &__text-zone {
                    border-radius: $radius5;
                    font-size: 12px;
               }
          }
     }

     @keyframes fadeIn {
          0% {
               opacity: 0;
          }
          100% {
               opacity: 1;
          }
     }
}
