.nav-container {
     @include flex-center(row); 
     gap: 57px;
     list-style-type: none;
     margin: 0;

     &__link {
          text-decoration: none;
          color: $black-color; 

          &.active {
               text-decoration: underline;
          }
     }

     @media (max-width: 768px) {
          gap: 18px;
     }
     
}
