.note-container {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 1.4em;

    &__etoile--red {
        color: $red-color;
    }

    &__etoile--grey {
        color: $dark-grey-color;
    }

    @media screen and (max-width: 768px) {
        & {
            font-size: 1em;
            gap: 5px;
        }
    }
}