.tags-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;

    &__tag {
        background-color: $red-color;
        border-radius: $radius10;
        color: $white-color;
        font-size: 14px;
        font-weight: $large;
        margin-right: 15px;
        padding: 5px 2em;
        width: auto;
        text-align: center;
    }
}