* {
     box-sizing: border-box;
}

body {
     padding: 0;
     margin: 0 auto;
     width: 100%;
     max-width: 1440px;

     #root {
          max-width: 1440px;
          padding: 45px 100px;
          font-family: 'Montserrat', sans-serif;
          margin: auto;

          @media (max-width: 1024px) {
               padding: 45px 70px;
          }

          @media (max-width: 768px) {
               padding: 45px 25px;
          }

          @media (max-width: 600px) {
               padding: 45px 20px;
          }
     }
}
