$black-color: #000000;
$white-color: #ffffff;
$red-color: #ff6060;
$grey-color: #f6f6f6;
$dark-grey-color: #e3e3e3;
$red-gradient: linear-gradient(
     180deg,
     rgba(255, 255, 255, 0) 0%,
     rgba(10, 10, 10, 0) 42%,
     rgba(4, 4, 4, 0.205) 99.99%,
     rgba(0, 0, 0, 0.5) 100%
);

$extra-light: 300;
$light: 400;
$medium: 500;
$large: 700;

$radius5 : 5px;
$radius10: 10px;
$radius25: 25px;


$container-classic: 1240px;
